[Unit]
Description=c-base OAuth2 service 
# Requires=gunicorn.socket
After=network.target

[Service]
# Type=notify
Type=simple
# the specific user that our service will run as
User=oauth
Group=oauth
Environment=DJANGO_SECRET_KEY="CHANGEME"
Environment=DJANGO_SETTINGS_MODULE="c_base_oauth2.conf.prod"
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
WorkingDirectory=/home/oauth/c-base-oauth2/
ExecStart=/home/oauth/c-base-oauth2/run_gunicorn.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
