{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="block-center mt-3 text-center" style="box-shadow: 0px 0px 32px 0px rgba(0,255,60,1);">
    

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login with your c-base LDAP account to continue.</p>
        {% endif %}
    {% endif %}

    <h2><img style="width: 48px;"
           src="{% static 'alien.svg' %}"><br />Login for ALIEN accounts (guest account)</h2>

    <form class="mt-4" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="username" class="form-control input_user" value="" 
               placeholder="c-base crew name">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="password" name="password" class="form-control input_user" value="" 
               placeholder="password">
      </div>

      <input type="submit" class="w-100 btn btn-large btn-success" value="login">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

    <h4 class="mt-5">Are you a c-base member?</h4>
    <a href="{% url 'login' %}?next={{ next }}" 
       class="w-100 btn btn-large btn-outline-secondary">
      Login with your c-base LDAP account
    </a>

    <p class="mt-5">
      <small>
        c-base e.V. | Rungestraße 20 | 10179 Berlin<br />
        <a href="https://www.c-base.org/cv50f/core/impressum.html">Impressum</a>
      </small>
    </p>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><!--<a href="https://member.c">Lost password?</a>--></p>

    {% endblock %}
  </div>
</div>