{% extends "base.html" %}

{% block title %}User profile{% endblock title %}

{% block content %}
<div class="container">
  <div class="block-center">


    <h1>User Profile</h1>

    <p>You are logged in as:
      <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>E-Mail: {{ request.user.email }}</li>
        {% if request.user.is_temporary_alien %}<li>This is a temporary ALIEN account valid until: {{ request.user.valid_until }}</li>{% endif %}
      </ul>
    </p>

    <p>
        <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout again</a>
        {# Assumes you setup the password_reset view in your URLconf #}
        {% if request.user.is_temporary_alien %}<a class="btn btn-outline-primary" href="{% url 'password_reset' %}">Reset your password</a> {% endif %}
    </p>

    <h2>Authorized tokens</h2>
    <p>
      Here you can show a list of currently active tokens and you can also revoke your tokens!<br />
      <a href="{% url 'oauth2_provider:authorized-token-list' %}">Show authorized tokens</a>
    </p>

    <h2>Your apps</h2>
    <p>
        For DEVELOPERS only! You only need this if you want to develop your own service that
        uses the c-base OAuth2 service.<br />
        <a href="{% url 'oauth2_provider:list' %}">Show your apps</a>
    </p>

    
  </div>
</div>
{% endblock %}